
<% @blogs.each do |blog| %>
    <h2><%= link_to  blog.name, blog_path(blog) %></h2>
    <h6><%= link_to blog.technology_topic.name, technology_topic_path(blog.technology_topic.id) %></h6>
    <p>Published: <%= blog.created_at.to_formatted_s() %>, By: <%= link_to blog.user.username, user_path(blog.user) %></p>
    <p><%= blog.body %></p>
    <hr>

<% end %>