
<h1><%= @blog.name %></h1>
<p>Published by: <%= link_to  @blog.user.username, user_path(@blog.user.id) %></p>
<h2><%= @blog.technology_topic.name %></h2>
<p> <%= @blog.body %></p>
<hr>

<%= render  "comments/form" %>

<%= render  @blog.comments.order("created_at DESC") %>

