<h1><%= @blog.name %></h1>
<p>Published by: <%= @blog.user.username %></p>
<h2><%= @blog.technology_topic.name %></h2>
<p> <%= @blog.body %></p>
<hr>
<% @blog.comments.each do |comment| %>
    <h4><%= comment.user.username %></h4>
    <p><%= comment.created_at.to_formatted_s(:long)%></p>
    <p><%= comment.body %></p>
    <hr>
<% end %>
