<h1><%= @user.username %></h1>

<% if  @user.profile_picture.attached? %>
    <%= image_tag(@user.profile_picture, width: 250, height: 250) %> 
<% else %>
    <%= image_tag('default_image.webp', width: 250, height: 250) %> 
<% end %>

    <h2>Bio:</h2>
    <p><%= @user.bio %></p>

    <h2>My Technologies</h2>
        <% @user.technology_topics.each do |topic| %>
        <p><%= topic.name %></p>
    <% end %>


<% if @current_user == @user %>
    <%= link_to  "Edit Profile", edit_user_path(@current_user), class: "btn btn-outline-secondary" %>
<% end %>



<h2>My Blogs</h2>
<% @user.blogs.each do |blog| %>

    <p><%= blog.name %></p>

<% end %>




