<h1><%= @user.username %></h1>

<% if @user.profile_picture.attached? %>

    <%= image_tag(@user.profile_picture) %>
<% else %>
    <%= image_tag("users/default_image.webp") %>
<% end %>

<h2>My Blogs</h2>
<% @user.blogs.each do |blog| %>

    <p><%= blog.name %></p>

<% end %>

<h2>My Technologies</h2>

<% @user.technology_topics.each do |topic| %>
    <p><%= topic.name %></p>
<% end %>
